<header class="main-header">
    <a href="{{ path('homepage') }}" class="logo">
        <span class="logo-mini"><b>Q</b>Tr</span>
        <span class="logo-lg"><b>Qua</b>Troop</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="{{ path('homepage') }}" class="dropdown-toggle">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="dropdown messages-menu">
                    <a href="{{ path('github_repo') }}" class="dropdown-toggle">
                        <i class="fa fa-git"></i>
                    </a>
                </li>
                <li class="dropdown messages-menu">
                    <a href="http://www.prabhakargupta.com" class="dropdown-toggle">
                        <i class="fa fa-plug"></i>
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">Prabhakar Gupta</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="{{ asset('img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                            <p>
                                Prabhakar Gupta - Web Admin
                                <small>Member since Nov. 2016</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
