{% extends 'main.html.twig' %}

{% block body %}

<h2 class="page-header">User Name : <strong>{{ user_name }}</strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;User ID : <strong>{{ app.request.attributes.get('user_id') }}</strong></h2>

<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">All users who the current user reports to (All Levels)</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widgetx="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            {% if all_parents is not empty %}
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    {% for member in all_parents %}
                    <li>
                        <img src="{{ asset('img/user.png') }}" alt="User Image">
                        <a class="users-list-name" href="#">{{ member.name }}</a>
                        <span class="users-list-date">User ID : {{ member.id }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="box-body">
                No Users
            </div>
            {% endif %}
        </div>
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">All users who the current user reports to (One Level)</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            {% if immediate_parents is not empty %}
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    {% for member in immediate_parents %}
                    <li>
                        <img src="{{ asset('img/user.png') }}" alt="User Image">
                        <a class="users-list-name" href="#">{{ member.name }}</a>
                        <span class="users-list-date">User ID : {{ member.id }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="box-body">
                No Users
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">All users reporting to current user (All Levels)</strong>:</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            {% if all_children is not empty %}
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    {% for member in all_children %}
                    <li>
                        <img src="{{ asset('img/user.png') }}" alt="User Image">
                        <a class="users-list-name" href="#">{{ member.name }}</a>
                        <span class="users-list-date">User ID : {{ member.id }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="box-body">
                No Users
            </div>
            {% endif %}
        </div>
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">All users reporting to current user (One Level)</strong>:</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            {% if immediate_children is not empty %}
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    {% for member in immediate_children %}
                    <li>
                        <img src="{{ asset('img/user.png') }}" alt="User Image">
                        <a class="users-list-name" href="#">{{ member.name }}</a>
                        <span class="users-list-date">User ID : {{ member.id }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div class="box-body">
                No Users
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
