{% extends 'main.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">User Information</h3>
            </div>
            <div class="box-body">
                {% if user_success is defined %}
                    {% if not info_success %}
                    <form role="form" action="{{ path('viewuser') }}" method="post">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4>{{ message | raw }}</h4>
                        </div>
                        
                        <div class="form-group">
                            <label>Select a user!</label>
                            <select class="form-control" name="user">
                                {% for user in all_users %}
                                    <option value="{{ user.id }}">{{ user.name }} ({{ user.id }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif%}
                {% else %}
                <form role="form" action="{{ path('viewuser') }}" method="post">
                    {% if form_response is defined %}
                    <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>{{ message | raw }}</h4>
                    </div>
                    {% endif %}
                    
                    <div class="form-group">
                        <label>Select a user!</label>
                        <select class="form-control" name="user">
                            {% for user in all_users %}
                                <option value="{{ user.id }}">{{ user.name }} ({{ user.id }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
